body {
    padding: 0;
    margin: 0;
    background-color: #FFD6EC;
    min-height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    /* border: solid black; */
    font-size: 3rem;
    font-weight: bold;
    margin: 20px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-style: italic;
}


.edit-button,
.delete-button,
.read-button {
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    width: 120px;
    background: #ffffff
}

.container {
    display: flex;
    justify-content: center;

}

table {
    font-size: 2rem;
    border-spacing: 0px;
    text-align: center;
    width: 1500px;
}

th {
    background-color: #FF74B1;
    height: 70px;
}

td {
    background-color: #FFA1CF;
    height: 50px;
    border: solid #FF74B1 1px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    /* border: solid black 1px; */
    margin: auto;
    justify-content: center;
    background-color: #FF74B1;
    padding: 3px;
}

.form-popup {
    display: none;
    border: 3px solid #f1f1f1;
  }